In [1]:
l=[1,2,3,4,5,]
for ele in l:
    print(ele)

1
2
3
4
5

list is ordered collection.
range kind of returns a list which contains elements.
however in actual it is an iterator.
iterator is a func that returns a value
stop is mandatory
step deafult 1
start default 0
range(start,stop,step)

In [10]:
#list in reverse order
for i in range(len(l)-1,-1,-1):
    print(l[i])

5
4
3
2
1

len(l)-1 is last index of list.
-1 is step value for reverse order
-1 is end value for list to traverse in reverse order.
it will print elements of list in order of last index to first index.

In [7]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [12]:
#ternary operator 
#syntax = true value if condition else false value. eg-

a=5
b=4
c= a if a>b else b
print(c)

5

In [14]:
l=[1,2,3,4,5]
for i in range (-1,-len(l)-1,-1):
    print(l[i])

5
4
3
2
1

In [15]:
for i in range(10,1,1):
    print(i)

no error but just dosent print anything in case start is greater than stop value.

In [17]:
l.append(10)
l.insert(1,100)
print(l)

[1, 100, 2, 3, 4, 5, 10, 10]

insert inserts at particular index and append at last index
syntax: insert(index,value)

In [19]:
print(l[0])
l[1]=1000
print(l[1])

1
1000

In [21]:
print(l.pop())             # delete last ele
print(l.pop(1))
print(l)

10
1000
[1, 2, 3, 4, 5]

copy func in list does shallow copy.
for deep copy other methods are used.
count tells occurences of each element in list.

In [23]:
l1=[1,2,3,4]
l2=[1,1,2]
#l1=l1+2
l1=l1+l2
print(l1)

[1, 2, 3, 4, 1, 1, 2]

list can only be added to last and a int can not be added to list like l1=l1+2 will give concatenation error.

In [24]:
l1?

Type:        list
String form: [1, 2, 3, 4, 1, 1, 2]
Length:      7
Docstring:
Built-in mutable sequence.

If no argument is given, the constructor creates a new empty list.
The argument must be an iterable if specified.

In [47]:
l=[]
for i in range(0,21,1):
    l.append(i)
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [28]:
l=[i for i in range(20)]
print(l)
#syntax: l= value for loop

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [37]:
l=[i for i in range(0,21,2)]
print(l)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [46]:
print(l[2:10:2])
print(l[::-1])    #list reverse using slicing

[4, 8, 12, 16]
[20, 18, 16, 14, 12, 10, 8, 6, 4, 2, 0]

list slicing in done for indices.
l[ : : ]
start stop step
start=0 stop=len(l) step=1 :default values

In [48]:
#tuples
t1=(1,2,3)
print(t1)

(1, 2, 3)

tuples are immutable and enclosed in ()  brackets
traversing same as list just that it cant be changed once its made
everything like list just it cant be modified
no append,remove,pop,extend,insert etc works in tuple
only used with searching with indices.
key should be immutable so tuple can be used a key in dict.

In [50]:
l1=list(t1)
l1.append(10)
t1=tuple(l1)
print(t1)

(1, 2, 3, 10)

if u want to change tuple u can do so using above method.

In [53]:
t1= 10,20,30
a,b,c = t1
print(t1,a,b,c)

(10, 20, 30) 10 20 30

packing and unpacking

In [55]:
t2=(2,)
print(t2)

(2,)

if singular value is given in tuple it treats it as a mathematical exp 
so to convert it into tuple value we have to incude a comma after that value.

In [56]:
L=[1]*10
print(L)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]