In [1]:
#sets
s={1,2,3}
print(s,type(s))
s.add(10)
print(s)

{1, 2, 3} <class 'set'>

sets contain unique elements and are unordered collection

In [3]:
s.pop()    #pop removes any random elements from set

10

In [6]:
s.remove(3)   #remove deletes element mentioned within its brackets and returns a null value

In [5]:
s={1,2,3,4,5}
print(10 in s)

False

In [7]:
#clear funcn will clear set and copy will create a shallow copy
#difference will give non common elements of two sets
#set mein search krna is big o(1) constant time complexity hence fast and easy searching
#list mein search krna combursome coz its time complexity is that of linear search
#set is a class on the inside
s={}        #this means empty dict not empty set

In [9]:
s=frozenset({1,2,3})
print(s)
#frozenset means cant add anything to set its immutable

frozenset({1, 2, 3})

In [10]:
#traversing in sets
for ele in s:
    print(ele)

1
2
3

In [17]:
#dictionary- {key:value} pair
#keys are unique
#array advantage: u can search any element using index and time complexity is o(1) ie constant time.
#dictionaries are used for time complexity is o(1) ie constant time.
d={
    "roll" : 331,
    "name" : "gracy",
    "age" : 20
}
print(d,type(d))
print(d["roll"])    #if key not there then error will come
#d.get("roll")      #if key not there then null value returned.

{'roll': 331, 'name': 'gracy', 'age': 20} <class 'dict'>
331

In [19]:
#inserting values in dict:
#1st method ->
d["college"]="chitkara"             #adds one key value pair
print(d) 
#2nd method -> 
d.update({"city":"chandigarh", "country":"india"})    #can add multiple key value pairs
print(d)

{'roll': 331, 'name': 'gracy', 'age': 20, 'college': 'chitkara'}
{'roll': 331, 'name': 'gracy', 'age': 20, 'college': 'chitkara', 'city': 'chandigarh', 'country': 'india'}

In [22]:
d.keys()                          #prints all keys in dict

dict_keys(['roll', 'name', 'age', 'college', 'city', 'country'])

In [21]:
for k in d:                       #for k in d.keys()
    print(k,d[k])
d.values()

roll 331
name gracy
age 20
college chitkara
city chandigarh
country india

dict_values([331, 'gracy', 20, 'chitkara', 'chandigarh', 'india'])

key se values nikal skte ho but vice versa not true hence keys should be unique values can be duplicate.
value k andr u can put anything thats there in python.
key k andr u can put tuples,string,int (jo chiz immutable h that can be put in key)

In [23]:
d.items()    #items- keys and values both

dict_items([('roll', 331), ('name', 'gracy'), ('age', 20), ('college', 'chitkara'), ('city', 'chandigarh'), ('country', 'india')])

In [26]:
for k,v in d.items():
    print(k,v)
#or

#for t in d.items():
#    print (t)

roll 331
name gracy
age 20
college chitkara
city chandigarh
country india

In [ ]:
d.pop("country")
print(d)

In [30]:
d.popitem()    #removes last item in dict

('city', 'chandigarh')